*{
  margin: 0;
  padding: 0;
}

body{
  margin:0;
  padding: 0;
}

body .print{
  margin-top:0;
  padding-top: 10vh;
  margin-left: 25%;
  margin-right: 10%;

}

body .print table{
  border-collapse: collapse;
}

body .print table thead th{
  border: 1px solid gold;
  background: skyblue;
  padding: 0.25vw;
}

body .print table tbody td{
  border: 1px solid skyblue;

  padding: 0.25vw;
}
body .print table tbody td input{
  border: 1px solid transparent;

  padding: 0.25vw;
}
